<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Evaluation</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Philosopher&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <h1>
                Sentiment Evaluation
             </h1>
            <div class="">
                Sent.Ev
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <p>Please Enter a URL of an article or a blog to discover its sentiment evaluation.</p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="input" type="text" name="input" value="" placeholder="Enter an URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="polarity"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            <p>Powered by Meaningcloud</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
