$keycolor: rgb(90, 102, 114);

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: $keycolor;
}