$keycolor: rgb(90, 102, 114);

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    align-items: center;

    #logo p{
        font-family: 'Philosopher', sans-serif;
        font-size: 32px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        width: 90%;
        flex-direction: row;
        margin: auto;
        padding: 0;
    }
}